*{
    margin: 0;
    padding: 0;
}

#nav{
   background-color: rgb(64, 73, 73) !important;
}
    
#navbarNav{
   justify-content: end !important;
}

#carouselExampleSlidesOnly{
    z-index: 0 !important;
}

#textoCarr{
    z-index: 1;
    margin-top: 15%;
    margin-left: 42%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.image{
    object-fit:cover!important;
    object-position: center !important;
    height: 610px!important;
    filter: brightness(40%) !important;
    z-index: 10;
}

#titleCont{
    height: 70px;
    padding: -5px !important;
}

.titulo1 , .titulo2{
    box-sizing: content-box;
    margin: 0px auto ;
}

.titulo1{
    margin-bottom: -10px;
}

.titulo1 h6{
    font-size: 12px;
}

.titulo2 h2{
    font-size: 30px;
}

.tarj{
    margin-inline-start: -150px;
}

.btns{
    height: 10%;
    margin-top: 5%;    
}

.btnCard{
    padding: 0%;
    
    height: 100%;
    font-size: 12px !important;
}

.btnReact{
    width: 15%;
}

.cardText{
    font-size: small ;
}

#secPlaya{
    height: 450px;
}

#imgHono{
    background-image: url(img/honolulu.jpg);
    background-size: cover;
    border: 1px solid rgb(0, 153, 255);
}

#texto2{
    background-color: rgb(66, 63, 63);
}


.textImg{
    
    padding-inline: 0px;
    max-width: 100% !important;
    max-height: 100% !important;
}

.parraf2{
    font-size: smaller;
}

#exampleFormControlTextarea1{
    font-size: larger;
}

#passwordHelpBlock{
    display: flex !important;
    font-size: 12px;
}

footer{
    background-color: rgb(21, 67, 96);
}

footer a{
    display: block;
    width: 75px !important;
    padding-top: 5px;
    color: aliceblue;
    font-size: 14px;
    text-decoration: none;
}
.opciones{
    width: 33%;
    height: 190px;
    border: 1px solid blue;
}

#pagar{
    background-color:rgb(190, 224, 243);
}